{% extends "base.html" %}
{% import "macros.jinja2" as macros %}

{% block head %}
    <style>

        .lista {
            background-color: rgb(0, 129, 86);
        }

        .estilo {
            background-color: rgb(66, 66, 255);
        }

    </style>
{% endblock %}

{% block content %}
    {% set num_todos = todos | length %}

    {% if num_todos > 0 %}
        <p class="estilo">Você tem {{ num_todos }} oque fazer hoje</p>
        <ul class="lista">
            {% for text, completed in todos %}
                {{ macros.todo_list(todos)}}
            {% endfor %}
        </ul>
    {% else %}
    <p>Você não tem nada para fazer hoje, relaxe!!!</p>  
    {% endif %}
{% endblock %}  