<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Seguna Pagina</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est turpis, egestas in scelerisque non, aliquam a enim. Vestibulum nec mattis dolor. Proin massa velit, dignissim vel diam ut, pharetra vestibulum massa. Sed interdum nisl massa, in feugiat est scelerisque vitae. Vivamus fermentum dolor sed lectus sodales mollis. Sed non ultrices sem. Nam porta purus eros, id egestas nisl vestibulum at. Donec pretium mi sed pulvinar auctor.</p>

</body>
</html>