{% extends "base.html" %}
{% import "macros.jinja2" as macros %}

{% block head %}
   <link rel="stylesheet" href="/static/css/style.css"/>
{% endblock %}

{% block content %}
    {% set num_todos = todos | length %}

    {% if num_todos > 0 %}
        <p class="estilo">Você tem {{ num_todos }} oque fazer hoje</p>
        <ul class="lista">
            {% for text, completed in todos %}
                {{ macros.todo_list(todos)}}
            {% endfor %}
        </ul>
    {% else %}
    <p>Você não tem nada para fazer hoje, relaxe!!!</p>  
    {% endif %}

    <a href="{{ url_for('fizz') }}">Next</a>

{% endblock %}  